

body {
background-color: aliceblue;
}

h1{
    text-align: center;
    color:darkslategrey;
}


.calculator{
    border-collapse:collapse;
    font-size: 22px;
    justify-content: center;
    text-align: center;
    width: 700px;
    table-layout: fixed;
    height: 300px;
    margin: auto;
    background-color: bisque;
    border: chocolate 1px solid;
}

th, td {
    border: crimson 0.5px solid;
    font-size: 16px;
}
td{
    width: 100%;
}
.upper_row{
    background-color: aquamarine;
    text-align: center;
}

thead:nth-child(2) {
    background-color: blueviolet;
}

thead:nth-child(3) {
    background-color: powderblue;
}

thead:nth-child(4) {
    background-color: chartreuse;
}